<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>BEFE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
  </head>
  <body>
    <h1>Events</h1>
    <ul>
    {% for event in events %}
      <li><a href="/event/{{ event.event_id }}">{{ event.event_title }}</a></li>
    {% endfor %}
    </ul>
    <h1>New event</h1>
    <form method="POST" action="/new">
      <div>
        <label for="title">Title</label>
        <input type="text" id="title" name="title" />
      </div>
      <div>
        <label for="title">Free</label>
        <input type="checkbox" id="free" name="free" value="1" />
      </div>
      <div>
        <input type="submit" value="New" />
      </div>
    </form>
  </body>
</html>
